/* Will be compiled down to a single stylesheet with your sass files */

$blue-base: #0f5985;
$blue-dark: #073452;

html {
  background: $blue-base url(/images/bg.png) 0 0 repeat-x;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Lato', "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

body, p, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h2 {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 1.25em 0;
}

h3 {
  @extend .large;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;

  &:hover {
    border-color: #fff;
  }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.large {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.aside {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;

  &.small {
    font-size: 12px;
  }
}

sup {
  text-transform: none;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0.9;
}

dl {
  margin-top: 1.2em;
}

dt {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2.6;
}

dd {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1.6;

  span {
    text-transform: none;
    font-size: 13px;
    display: block;
  }
}

#primary-nav {
  margin: 0 auto;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  ul {
    margin: 0 auto;
    padding: 1.5em 0;
  }

  li {
    display: inline;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $blue-base;
  }
}

.half {
  width: 50%;
  float: left;
}

section {
  width: 100%;
  text-align: center;
  margin: 6em auto;

  .inner {
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden; /* TODO: replace with clearfix */
  }
}

#home {
  background: url(/images/stars-light.png) 50% 50% no-repeat;

  .inner {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  img {
    width: 75%;
    max-width: 475px;
    height: auto;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 3em;

    span {
      display: block;
      text-transform: none;
    }
  }
}

#wedding {

  .countdown {
    display: block;
    background: #0d527b;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    padding-top: 45px;
    margin: 1em auto 0 auto;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.1;

    .label {
      font-size: 12px;
      display: block;
      font-weight: 300;
      font-style: italic;
    }
  }

  .map {
    margin-top: 2em;
  }
}

#bride-groom {
  background: url(/images/stars-dark.png) 50% 20% no-repeat;
  background-size: contain;


  img {
    margin-bottom: 1em;
  }

}

#contact {
  background: url(/images/stars-dark.png) 50% 50% no-repeat;
  background-size: contain;
  max-height: 300px;
  overflow: hidden;

  .inner {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  p {
    font-size: 14px;
  }
}

#footer {
  .fireworks {
    width: 90%;
    max-width: 530px;
    margin-bottom: 20px;
  }
  .barn {
    position: relative;
    top: -45px;
    cursor: pointer;
  }
  .land {
    background: $blue-dark;
    height: 115px;
  }
}



@media all and (max-width: 550px) {

  #home {
    margin-bottom: -3em;
  }

  #primary-nav {
    display: none;
  }

  #wedding {
    margin-bottom: -6em;
  }

  #bride-groom {
    background: none;

    .half {
      background: url(/images/stars-dark.png) 50% 20% no-repeat;
    }
  }

  .half {
    width: 85%;
    float: none;
    margin: 6em auto;
  }

  .has-half {
    margin-bottom: -4em;
  }
}